<template>
  <div class="additional-padding">
    <div class="content default-content">
      <div v-if="!subject" class="choose-subject">
        <h1>Wählen Sie vorher noch einen Studiengang</h1>
        <div class="choose-subject-wappen">
          <button @click="chooseSubject('ai')" title="Angewandte Informatik">
            <img src="~@/assets/wappen-orange.png" alt="Angewandte Informatik">
          </button>
          <button @click="chooseSubject('tv')" title="Touristik/Verkehrswesen">
            <img src="~@/assets/wappen-gruen.png" alt="Touristik/Verkehrswesen">
          </button>
          <button @click="chooseSubject('wi')" title="Wirtschaftswissenschaften">
            <img src="~@/assets/wappen-blau.png" alt="Wirtschaftswissenschaften">
          </button>
        </div>
      </div>
      <div v-else-if="subject && !modulwahl" class="choose-modulwahl">
        <div v-if="allModules[subject] && Object.keys(allModules[subject]).length !== 0">
          <h2>Pflichtfächer</h2>
          <div class="choose-modulwahl-section">
            <ModulElement @choose-module="chooseModule" v-for="i in allModules[subject].pflichtfaecher" :key="i.id" :name="i.name" :id="i.id" />
          </div>
          <h2>Wahlpflichtfächer</h2>
          <div class="choose-modulwahl-section">
            <ModulElement @choose-module="chooseModule" v-for="i in allModules[subject].wahlpflichtfaecher" :key="i.id" :name="i.name" :id="i.id" />
          </div>
          <h2>Wahlfächer</h2>
          <div class="choose-modulwahl-section">
            <ModulElement @choose-module="chooseModule" v-for="i in allModules[subject].wahlfaecher" :key="i.id" :name="i.name" :id="i.id" />
          </div>
        </div>
        <div v-else>
          <InfoBox type="warning" msg="Diesem Fachbereich fehlen leider noch Daten. Hilf gerne mit, das Projekt ist Open-Source!"/>
        </div>
      </div>
      <div v-else-if="subject && modulwahl">
        <input class="main-search" v-on:keyup.enter="searchFunc" v-model="searchInput" type="text" placeholder="Gebe ein Stichwort ein">
        <SearchItem v-for="result in searchResults" :key="result._id" :data="result" />
      </div>
      <div v-else>
        <InfoBox type="error" msg="Da ist leider was schief gelaufen ..."/>
      </div>
    </div>
    <button v-if="subject || modulwahl" @click="clearSelection" class="clear-selection">Auswahl leeren</button>
  </div>
</template>

<script>
import axios from 'axios'
import ModulElement from '../components/ModulElement.vue'
import InfoBox from '../components/InfoBox.vue'
import SearchItem from '../components/SearchItem.vue'
import { changeAccent } from '../composables/changeaccent'
import { config } from '../composables/config'

export default {
  data () {
    return {
      errors: [],
      searchQuery: '',
      searchInput: '',
      subject: '',
      modulwahl: 0,
      allModules: {},
      searchResults: []
    }
  },
  components: {
    ModulElement,
    InfoBox,
    SearchItem
  },
  methods: {
    chooseSubject (type) {
      changeAccent(type)
      switch (type) {
        case 'ai':
        case 'tv':
        case 'wi':
          this.subject = type
          localStorage.setItem('subject', type)
          break;
        default:
          this.subject = ''
          localStorage.setItem('subject', '')
          break;
      }
    },
    chooseModule (mId) {
      this.modulwahl = mId
      this.searchRequest()
    },
    clearSelection () {
      this.subject = ''
      this.modulwahl = 0
      this.searchQuery = ''
      changeAccent('')
      if (localStorage.getItem('subject')) localStorage.setItem('subject', '')
    },
    async searchFunc () {
      this.searchQuery = this.searchInput
      this.$router.push({ path: '/search', query: { q: this.searchInput } })
      this.searchRequest()    
    },
    async searchRequest () {
      try {
        const res = await axios.get(`${config.baseUrl}/content/search?q=${this.searchQuery}&subject=${this.subject}&module=${this.modulwahl}`)
        this.searchResults = res.data.results
      } catch (e) {
        this.errors.push(e)
        console.error(e)
        console.log(this.errors)
      }
    }
  },
  mounted() {
    if (localStorage.getItem('subject')) this.subject = localStorage.getItem('subject')
    if (this.$route.query.q) this.searchQuery = this.$route.query.q
    this.searchInput = this.searchQuery
    this.searchRequest()
  },
  async created() {
    try {
      const res = await axios.get('/module.json');
      this.allModules = res.data
    } catch (e) {
      this.errors.push(e)
      console.error(e)
      console.log(this.errors)
    }
  }
}
</script>

<style scoped>
.choose-subject, .choose-modulwahl {
  min-height: calc(100vh - 66.97px - 8em);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.choose-subject-wappen {
  margin-top: 2em;
  display: flex;
  gap: 4em;
}
.choose-subject-wappen button {
  background-color: transparent;
  cursor: pointer;
  transition: transform 0.4s;
}
.choose-subject-wappen button:hover {
  transform: scale(1.1);
}
.choose-modulwahl h2 {
  margin-bottom: 1em;
}
.choose-modulwahl-section {
  text-align: left;
  width: 100%;
  margin-bottom: 4em;
}
.main-search {
  font-weight: 600;
  padding: calc(1.5em - 3px) calc(2em - 3px);
  border-radius: 0.3em;
  margin-bottom: 4em;
  width: 100%;
  color: #0D3661;
  background-color: #fff;
  /* box-shadow: rgba(0, 0, 0, 0.15) 0px 5px 15px 0px; */
  border: 3px solid var(--accent);
  transition: border-color 0.3s;
  box-sizing: border-box;
}
</style>
