<template>
  <div>
    <input class="title" type="text" id="title" name="title" placeholder="Titel" v-model="editableTitle">
    <div v-if="isEditing">
      <div class="content-container">
        <div class="content-edit" autofocus contenteditable="true" @input="getContent">{{ this.content }}</div>
      </div>
      <input class="verify-key" type="text" placeholder="Schlüssel" v-model="verifykey" @input="errorKey = ''" :class="{ inputError: errorKey }">
      <InfoBox type="error" :msg="error || errorKey" v-if="error || errorKey" style="margin-bottom: 1.5em;" />
      <button class="btn" @click="submitVersion">Speichern</button>
      <button class="btn secondary" @click="getPreview">Vorschau</button>
    </div>
    <div class="md-preview" v-else>
      <MdViewer :content="editableContent" />
      <button class="btn secondary closeprev" @click="isEditing = true">Close preview</button>
    </div>
  </div>
</template>

<script>
import axios from 'axios'
import { config } from '../composables/config'
import MdViewer from '../components/MdViewer.vue'
import InfoBox from '../components/InfoBox.vue'

export default {
  name: 'EditContent',
  props: {
    oid: String,
    title: String,
    content: String,
    type: String,
    id: Number,
    last_updated: Number
  },
  components: {
    MdViewer,
    InfoBox
  },
  data () {
    return {
      editableTitle: this.title,
      editableContent: this.content,
      editableLast_updated: this.last_updated,
      isEditing: true,
      verifykey: '',
      error: '',
      errorKey: ''
    }
  },
  methods: {
    getContent (e) {
      this.editableContent = e.target.innerText
    },
    getPreview () {
      this.$router.push({ hash: '#title' }).then(() => {
        this.isEditing = false
      })
    },
    async submitVersion () {
      if (!this.verifykey) return this.error = 'Bitte Schlüssel eingeben'
      this.error = ''

      try {
        const res = await axios.post(`${config.baseUrl}/content/edit?object=${this.oid}`, {
          id: this.id,
          type: this.type,
          content: this.editableContent,
          title: this.editableTitle,
          key: this.verifykey
        })
        
        if (res.status == 200) {
          if (res.data.reason == 'invalidkey') return this.errorKey = 'Ungültiger Schlüssel'
          this.$router.push({ path: `/content/${this.type}/${this.id}/${this.oid}`, hash: '' })
          this.$router.go()
        } else {
          throw res
        }
      } catch (e) {
        this.error = 'Unerwarteter Fehler'
        console.error(e)
      }
    }
  }
}
</script>

<style scoped>
.title {
  border-bottom: 2px solid #eee;
  padding: 0;
  padding-bottom: 0.3em;
  margin-bottom: 0.5em;
  display: block;
  font-size: 2em;
  width: 100%;
  font-weight: bold;
  font-family: var(--font);
  color: hsl(210, 25%, 17%);
}
.content-container {
  border: 2px solid #ddd;
  margin-bottom: 2em;
  border-radius: 0.3em;
}
.content-edit {
  min-height: 8em;
  border: 0;
  outline: 0;
  padding: 0.5em;
  white-space: pre-wrap;
}
.btn.secondary {
  margin-left: 1em;
}
.closeprev {
  position: fixed;
  right: 0;
  bottom: 0;
  margin: 1em;
}
.verify-key {
  display: block;
  width: 100%;
  margin-bottom: 1.5em;
  border: 2px solid #ddd;
  padding: 0.8em 1.5em 0.8em calc(1.5em + 1px);
  border-radius: 0.3em;
  color: #0D3661;
  font-weight: 500;
  transition: border-color 0.3s;
}
.inputError {
  border-color: var(--error);
}
</style>
