<template>
  <div class="mdview">
    <Markdown :source="content" :breaks="true" :linkify="true" :typographer="true" :plugins="plugins" />
  </div>
</template>

<script>
import Markdown from 'vue3-markdown-it'

import MarkdownItAnchor from 'markdown-it-anchor'
import MarkdownItDeflist from 'markdown-it-deflist'
import MarkdownItFootnote from 'markdown-it-footnote'
import MarkdownItHighlightjs from 'markdown-it-highlightjs'
import MarkdownItSub from 'markdown-it-sub'
import MarkdownItSup from 'markdown-it-sup'
import MarkdownItTocDoneRight from 'markdown-it-toc-done-right'
import MarkdownItKatex from 'markdown-it-katex'

import 'highlight.js/styles/atom-one-light.css'
//import 'https://cdnjs.cloudflare.com/ajax/libs/KaTeX/0.5.1/katex.min.css'

export default {
  name: 'MdViewer',
  props: {
    content: String
  },
  components: {
    Markdown
  },
  data () {
    return {
      plugins: [
        {
          plugin: MarkdownItAnchor,
          options: {
            permalink: MarkdownItAnchor.permalink['ariaHidden']({
              symbol: '#'
            })
          }
        },
        {
          plugin: MarkdownItDeflist
        },
        {
          plugin: MarkdownItFootnote
        },
        {
          plugin: MarkdownItHighlightjs,
          options: {
            inline: true
          }
        },
        {
          plugin: MarkdownItTocDoneRight
        },
        {
          plugin: MarkdownItSub
        },
        {
          plugin: MarkdownItSup
        },
        {
          plugin: MarkdownItKatex
        }
      ]
    }
  }
}
</script>

<style>
.mdview {
  margin-top: 0.5em;
  line-height: 1.5;
  /* font-family: sans; */
  font-size: 1.1em;
}
.header-anchor {
  text-decoration: none;
  opacity: 0.3;
  transition: opacity 0.3s;
}
.header-anchor:hover {
  opacity: 1;
}
.mdview hr {
  border-width: 1px;
  border-color: #eee;
  border-style: solid;
  margin: 1em 0;
}
.mdview h1 {
  margin-top: 1em;
}
.mdview h2 {
  margin-top: 1em;
}
.mdview h1, .mdview h2 {
  border-bottom: 1px solid #eee;
  margin-bottom: 0.3em;
}
.mdview table {
  border-collapse: collapse;
  width: 100%;
}
.mdview th {
  background-color: #ececec;
}
.mdview th, .mdview td {
  text-align: left;
  border: 2px solid #ddd;
  padding: 8px;
}
.mdview tr:nth-child(even) {
  background-color: #f3f3f3;
}
.mdview dt {
  font-weight: 700;
}
.mdview blockquote {
  border-left: 5px solid #ddd;
  padding-left: 1em;
  background-color: #f8f8f8;
  margin-left: 0;
}
</style>
