<template>
  <div>
    <h3 @click="$emit('chooseModule', id)">{{ name }}</h3>
  </div>
</template>

<script>
export default {
  name: 'ModulElement',
  props: {
    name: String,
    id: Number
  }
}
</script>

<style scoped>
h3 {
  padding: 0.5em 0;
  cursor: pointer;
  transition: transform 0.4s;
}
h3:hover {
  transform: translateX(1em);
}
</style>
